<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="       
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd       
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd       
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd       
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd       
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
      http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.5.xsd"
	default-autowire="byName">
	<!-- 公共 -->
	<bean id="commonAction" class="com.holley.wxcharging.action.common.CommonAction" scope="prototype"/>
	<!-- 账户数据 -->
	<bean id="accountAction" class="com.holley.wxcharging.action.data.AccountAction" scope="prototype"/>
	<!-- 记录数据 -->
	<bean id="recordAction" class="com.holley.wxcharging.action.data.RecordAction" scope="prototype"/>
	<!-- 统计数据 -->
	<bean id="statAction" class="com.holley.wxcharging.action.data.StatAction" scope="prototype"/>
	<!-- 注册登录 -->
	<bean id="frameAction" class="com.holley.wxcharging.action.frame.FrameAction" scope="prototype"/>
	<!-- 充电 -->
	<bean id="chargingAction" class="com.holley.wxcharging.action.charging.ChargingAction" scope="prototype"/>
	<!-- 支付 -->
	<bean id="payAction" class="com.holley.wxcharging.action.pay.PayAction" scope="prototype"/>
	<!-- 微信 -->
	<bean id="wechatAction" class="com.holley.wxcharging.action.pay.WechatAction" scope="prototype"/>
</beans>